body {
  padding: 0;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  max-width: 100%; 
  color: black;
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'Lato', sans-serif;
  font-style: italic;
  

}

h2{
  color: white;
  font-style: italic;

}
a {
	color: white;
}
.main-container{
	font-size: 15px;
  text-align: center;
  color: black;
  position: relative;

 
}

input#texthere {
	    position: relative;
    width: 153px;
    height: 40px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFFF;
    opacity: .5;
    color: black;
}
#texthere{
	color: black;
}
.done-true {
      text-decoration: line-through;
      color: white;
    }
.charities {
  color: black;
}

/*
.charity-box {
  width: 300px;
  height: 300px;
  background-color: ;
  opacity: .1;
  position: relative;
  text-align: center;
  left: 25%;
  color: black;

}*/

.charity-box2 {
  z-index: 2839; 
  color: black;
}

.dropdown {
  position: relative;
  opacity: .5;

}

#box {
   width: 300px;
  height: 300px;
  border-color: white;

}

input {
      border-style: solid; 
    border-width: 0px 0px 3px 0px; 
    border-color: #ccc; 
      background-color: transparent; 
    color: white;

}